h1,h2,h3,h4, h5 {
  font-family: 'Arbutus Slab', serif;
}

p.header {
font-family: 'Open Sans', sans-serif;
line-height: 2rem;
font-size: 3em;
text-align: center;
color:#039be5;

}
p.thin {
  font-size: 110%;
}
img.thumb.responsive-img.menu {
  max-width: 30%;
  max-height: 45%
}

ul.side-nav {
	background-image:url("../styles/images/moeSlim.png");
	color: rgb(235,235,235);
}


.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
footer.page-footer {
  margin: 0;
}
