html, body, h1, h2,
h3, p, ol, ul, li, a {!
padding: 0;!
border: 0;!
margin: 0;
}



body {
	background: url('../styles/images/launch.jpeg')no-repeat center left fixed;
	background-size: cover;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	z-index: 30px;
	font-family: Georgia;

}
.centertext {
	text-align: center;
}

h2, h4,h5.about-header {
	color: rgb(235,235,235);
	font-family: 'Cantata One', serif;
	font-size: 80%;
}

span {
	color: rgb(235,235,235);
	font-family: Georgia, serif;
	margin: -3%;
}
* {
	margin: 0;
	padding: 0;
}

p {
	text-align: center;
	font-family: Georgia;
}

a.btn{
	background-color: #F44336;
	margin: .05%;
	font-size: 1.2em;
}
a.waves-effect.waves-light.btn-flat {
	color: rgb(235,235,235);
	text-shadow: 1px;
}

.btn-flat:hover	{
	text-shadow: 0 0 2px #000000;
	background-color: #F44336;
	font-weight: bold;
}

ul.side-nav {
	background-image:url("../styles/images/moeSlim.png");
	color: rgb(235,235,235);
}

div#skills-box.card.icon-block {
	border-radius:30%;
	background-color: #AC7D54;
	color: rgb(235,235,235);
	border-style: solid;
	border-width: thin;
	font-size: 1.5em;
	text-shadow: 0 0 2px #000000;
}


.content-o {
	background-color: rgb(235,235,235);
	height: 50%;
	max-width: 100%;
}

div.card-panel	{
	background-color: #F44336;
	z-index: 30;
	border-radius: 30px;
	color: rgb(235,235,235);
	opacity: 0;
}

.icon {
	font-size: 5em;
	text-decoration: none;
	color: rgb(235,235,235);
	padding: 0.5%;
}

.icon:hover {
	color: rgb(77, 140, 134);
	text-shadow: 0 0 2px #000000;
}

#skills-headers{
	font-family: 'Cantata One', serif;
	font-size: .9em;
}

.git-plain {
  max-width: 3em;
  padding-bottom: 8px;
}

i.fa.fa-envelope-o.fa-4x, i.fa.fa-file-o.fa-4x {
	color:rgb(235,235,235);
}
i.fa.fa-envelope-o.fa-4x:hover, i.fa.fa-file-o.fa-4x:hover {
		color: rgb(77, 140, 134);
}



/************ HIDDEN ARROW ***************/

.hiddenarrow {
	visibility: hidden;
	size: 4em;
}

/************ PROJECT Slider CSS *****************/
div.collapsible-header	{
	background-color: rgb(235,235,235);

}
.projects {
	font-family: 'Cantata One', serif;
	font-size: 3em;
	margin-top: -1%;
}

a.project-name {
	font-size: 1.3em;
	text-shadow: 2px;
	text-align: left;
	color: #000000;
}

a.project-name:hover {
	color: rgb(77, 140, 134);
}

.proj {
	color: rgb(235,235,235);
}

.fa-github {
	color: rgb(235,235,235);
	font-size: 1.3em;
}

.project-icons {
	margin: 0 auto;
}

img.project-image {
	display: inline;
	max-width: 80%;
	max-height: 60%;
	background-color: rgb(237, 237, 237);
}

a.projfa:hover {
	color: rgb(77, 140, 134);
}

a.projfa {
color: #000000;
}
/******** PROJECT SLICK BAR ************/

.slickleft {
	color: #AC7D54;
	font-size: 6em;
	z-index: -99999;
}

.slickleft:hover {
	color: rgb(77, 140, 134);
	text-shadow: 0 0 3px #000000;
}

.slickright {
	margin-left: 5%;
	color: #AC7D54;
	font-size: 6em;
	z-index: -999999;
}

.slickright:hover {
	color: rgb(77, 140, 134);
	text-shadow: 0 0 3px #000000;
}

.slick-slider {
	margin: 0 6%;
}

.slick-slide {
	margin-top: 0.5%;
}

/********** TESTING ARROWS ************/

.arrowdiv {
	text-align: center;
	font-size: 3em;
}

/**************** FOOTER *******************/

.container-fluid {
	font-family: 'Cantata One', serif;
	color: rgb(235, 235, 235);
}

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
